.fondo1 {
	background-position: center;
	background-size: cover;
	background-attachment: fixed, scroll;
	color: #000000;
	background-image: url("../img/fondo3.gif");
}

.fondo2 {
	background-position: center;
	background-size: cover;
	background-attachment: fixed, scroll;
	color: #000000;
	background-image: url("../img/fondo1.gif");
}


header {
	background: rgb(0, 0, 0);
	margin-bottom: 20px;
	color: #fff;
	padding: 20px;
	justify-content: space-between;
}
header > div {
	text-align: center;
}

.contenedor-main {
	margin-bottom: 20px;
}

main {
	background: #000000;
	color: #424242;
	padding: 20px 0;
}

aside {
	background: #dee5e8;
	padding: 60px 0;
	color: #0d48a1;
}

.contenedor-imagen1 {
	background: rgba(0, 162, 255, 0.466);
	color: #fff;
	padding: 30px;
	margin-bottom: 15px;

}

.contenedor-imagen2 {
	background: rgba(0, 238, 255, 0.308);
	color: #fff;
	padding: 30px;
	margin-bottom: 15px;

	width: 200px;
	height: 100%;
	object-fit: none;
}

footer {
	padding: 20px 0;
	background: #000288;
	color: #fff;
	justify-content: center;
	margin-top: 5%;
}

.imagen-recortada> img {
	width: 100%;
	height: 227px;
	object-fit: cover;
}


.contenedor1 {
	max-width: 80%;
}

.contenedor-imagen1 a {
    background: #ffffff;
    display: inline-block;
    overflow: hidden; 
}

.contenedor-imagen1:hover {
	opacity: .3;
}

.col4 {
	max-width: 33%;
}

.col8 {
	max-width: 66%;
}